/* You can add global styles to this file, and also import other style files */

body,
html {
  height: calc(100% - 4em);
}

body {
  background: green;
  color: #fff;
  text-align: center;
  font-family: "Lato";
  display: grid;
  align-items: center;
  font-size: 3rem;
  padding: 2rem;
}
